[Desktop Entry]
Version=1.0
Name=PALLY1 Core
Comment=Connect to the PALLY1 P2P Network
Comment[de]=Verbinde mit dem PALLY1 peer-to-peer Netzwerk
Comment[fr]=PALLY1, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PALLY1, eşten eşe kriptografik sanal para birimi
Exec=PALLY1-qt %u
Terminal=false
Type=Application
Icon=PALLY1128
MimeType=x-scheme-handler/PALLY1;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=PALLY1-qt
