
## <summary>policy for PALLY1</summary>


########################################
## <summary>
##	Transition to PALLY1.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`PALLY1_domtrans',`
	gen_require(`
		type PALLY1_t, PALLY1_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, PALLY1_exec_t, PALLY1_t)
')


########################################
## <summary>
##	Execute PALLY1 server in the PALLY1 domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`PALLY1_initrc_domtrans',`
	gen_require(`
		type PALLY1_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, PALLY1_initrc_exec_t)
')


########################################
## <summary>
##	Search PALLY1 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`PALLY1_search_lib',`
	gen_require(`
		type PALLY1_var_lib_t;
	')

	allow $1 PALLY1_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read PALLY1 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`PALLY1_read_lib_files',`
	gen_require(`
		type PALLY1_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, PALLY1_var_lib_t, PALLY1_var_lib_t)
')

########################################
## <summary>
##	Manage PALLY1 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`PALLY1_manage_lib_files',`
	gen_require(`
		type PALLY1_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, PALLY1_var_lib_t, PALLY1_var_lib_t)
')

########################################
## <summary>
##	Manage PALLY1 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`PALLY1_manage_lib_dirs',`
	gen_require(`
		type PALLY1_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, PALLY1_var_lib_t, PALLY1_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a PALLY1 environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`PALLY1_admin',`
	gen_require(`
		type PALLY1_t;
		type PALLY1_initrc_exec_t;
		type PALLY1_var_lib_t;
	')

	allow $1 PALLY1_t:process { ptrace signal_perms };
	ps_process_pattern($1, PALLY1_t)

	PALLY1_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 PALLY1_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, PALLY1_var_lib_t)

')

