# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit PALLY1d.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/PALLY1/PALLY1.conf

[Unit]
Description=PALLY1 daemon
After=network.target

[Service]
ExecStart=/usr/bin/PALLY1d -daemon -conf=/etc/PALLY1/PALLY1.conf -pid=/run/PALLY1d/PALLY1d.pid
# Creates /run/PALLY1d owned by PALLY1
RuntimeDirectory=PALLY1d
User=PALLY1
Type=forking
PIDFile=/run/PALLY1d/PALLY1d.pid
Restart=on-failure

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
